.top-content {
    position: absolute;
    height: 400px;
    width: 590px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-image: url("../img/mafilm.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.first-name {
    width: 100px;
    position: absolute;
    top: -50px;
    left: -10px;
    z-index: 1000;
}

.last-name {
    width: 305px;
    position: absolute;
    top: -10px;
    left: -45px;
    z-index: 1000;
}

.texture-one {
    background-image: url("../img/tex1.png");
    width: 400px;
    height: 550px;
    background-size: contain;
    position: absolute;
    top: 700px;
    left: 15px;
    opacity: 0.2;
}

.texture-two {
    background-image: url("../img/tex2.png");
    width: 400px;
    height: 550px;
    background-size: contain;
    position: absolute;
    top: 1400px;
    right: 15px;
    transform: translateX(-50%);
    opacity: 0.2;
}

.disclaimer {
    transform: rotate(90deg);
    position: fixed;
    top: 50%;
    right: -90px;
}

.right-menu {
    text-align: right;
    padding: 65px 10px 10px 10px;
    width: 150px;
    height: 170px;
    background-color: #fffb13;
    z-index: -20;
    position: absolute;
    bottom: -50px;
    right: -65px;
}