.panel {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.panel-inline {
    position: relative;
    display: inline;
    margin: 0;
}

.panel-container {
    overflow-x: scroll;
    width: 10000px;
    display: inline;
}

.side-container {
    width: 100vw;
    height: 100vh;
    background-color: #fffb13;
}

.first-name {
    max-width: 15%;
    padding: 25px;
    position: fixed;
    top: 10%;
    left: 15%;
    z-index: 1000;
}

.last-name {
    max-width: 40%;
    padding: 25px;
    position: fixed;
    top: 20%;
    left: 15%;
    z-index: 1000;
}

.ma {
    max-width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    font-size: 22px;
}

.caption {
    max-width: 7%;
    position: absolute;
    top: 65%;
    left: 65%;
}

@media (max-width: 993px) {
    .first-name {
        max-width: 18%;
        left: 35px;
        top: 0;
    }
    .last-name {
        max-width: 50%;
        left: 35px;
        top: 65px;
    }
    .ma {
        max-width: 80%;
        top: 180px;
        transform: translate(-50%, 0);
    }
}